# =========================
# IDE / 编辑器
# =========================
.idea/
.vscode/
*.iml

# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Node / Vue
# =========================
node_modules/
.pnpm-store/
dist/

# =========================
# Go
# =========================
*.exe
*.test
*.out

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db
*Zone.Identifier

# =========================
# 打包文件
# =========================
*.tar

# =========================
# 本地敏感配置
# =========================
deploy/.env

# =========================
# 密钥
# =========================
*.pem
*.key